
<% provide(:title, "Create new Post") %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1>Create Post</h1>
    <%= form_for(:post, url: posts_path) do |f| %>
      <%= render 'shared/post_error_messages', object: @post %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :message %>
      <%= f.text_area :message, class: 'form-control' %>

      <%= f.submit "Create new Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
